# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.git
.DS_Store
modules/CGSL/.git
.build
## Build generated
build
DerivedData
mac
linux
